/*
      :::    :::  :::    :::   ::::::::    :::::::: 
     :+:    :+:  :+:    :+:  :+:    :+:  :+:    :+: 
    +:+    +:+  +:+    +:+  +:+         +:+    +:+  
   +#++:++#+   #+#    #+#  :#:         +#+    +:+   
  +#+    +#+  +#+    +#+  +#+   +#+#  +#+    +#+    
 #+#    #+#  #+#    #+#  #+#    #+#  #+#    #+#     
###    ###  ##########   ########    ########       
*/


@font-face {
    font-family: 'Space Grotesk';
    src: url('../font/SpaceGrotesk[wght].woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126License: none (public domain)*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.4;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Variables
****************************************/
:root {
    /* beige */
    --color1: #F6F6EB;
    /* bleu */
    --color2: #204880;
    /* jaune */
    --color3: #ffdf88;
    /* maron */
    --color4: #724F4A;
    /* text */
    --text: #17100F;


    /* 8 */
    --dim1: .5rem;
    /* 13 */
    --dim2: .8125rem;
    /* 21 */
    --dim3: 1.3125rem;
    /* 34 */
    --dim4: 2.125rem;
    /* 55 */
    --dim5: 3.4375rem;
    /* 89 */
    --dim6: 5.5625rem;
    /* 144 */
    --dim7: 9rem;
    /* 233 */
    --dim8: 14.5625rem;
    /* 377 */
    --dim9: 23.5625rem;
    /* 610 */
    --dim10: 38.125rem;

}



/* General
****************************************/
html {
    font-family: 'Space Grotesk', Arial, sans-serif;
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    color: var(--text);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color1);
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

::selection {
    color: #fff;
    background-color: var(--color2);
}


/* Général */

header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 var(--dim2) var(--dim7);
}

.btn {
    position: relative;
    display: inline-block;
    padding: var(--dim2) var(--dim4);
    border: 1px solid var(--color2);
    font-size: var(--dim3);
    font-variation-settings: 'wght'680;
    color: var(--color2);
    text-align: center;
    text-decoration: none;
    transition: all .4s cubic-bezier(.87, 0, .13, 1)
}

.btn:hover,
.btn:focus {
    background-color: var(--color3);
}

@media screen and (max-width: 39.9375em) {
    .btn {
        width: 100%;
    }
}

/* Header */

header {
    padding: var(--dim7) 0 var(--dim4);
}

header nav.container {
    padding: 0 var(--dim2);
}

header nav menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    max-width: 1189px;
}

header nav menu li:not(:last-child)::after {
    content: ',';
    padding-right: .4rem;
}

header nav menu .link {
    font-weight: 600;
    font-size: var(--dim3);
    color: var(--color2);
    text-decoration: none;
    border-bottom: 0 solid var(--color1);
    transition: all .28s cubic-bezier(.87, 0, .13, 1)
}

header nav menu .link:hover,
header nav menu .link:focus {
    border-bottom: 2px solid var(--color2);
}




/* Accueil */
.accueil {
    display: flex;
    flex-direction: column;
}

.accueil .welcome {
    order: 1;
}

.accueil header {
    order: 2;
}

.accueil main {
    order: 3;
}

.accueil footer {
    order: 4;
}

.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: var(--dim9) var(--dim2) var(--dim7);
    background-color: var(--color2);
    background-image: url(../images/loup.png);
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
}

.welcome .title {
    font-size: clamp(3.4375rem, 8vw, 9rem);
    line-height: .8;
    color: var(--color1);
    font-variation-settings: 'wght'680;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.welcome .title span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.welcome .title span:nth-child(1) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.welcome .title span:nth-child(2) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@media screen and (max-width: 39.9375em) {
    .welcome .title {
        line-height: .8;
    }
}

.description-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1189px;
    padding-top: var(--dim5);
}

.description-block .title {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(1.6rem, 4vw, 3.4375rem);
    font-weight: 700;
    color: var(--text);
    padding-bottom: var(--dim5);
}

.link-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0 .2em;
}

.img-wrapper {
    position: relative;
    top: 50%;
    display: inline-grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    height: 1.4em;
    width: 1.4em;
    margin-right: .2em;
}

.img-wrapper .image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 333ms ease-in-out;
}

.img-wrapper .image svg {
    width: 100%;
}

/* Afficher la première image */
.img-wrapper .image:first-child {
    opacity: 1;
}

/* Animation pour passer à l'image suivante */
@keyframes fade {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Appliquer l'animation aux images */
.link-wrapper:hover .image:nth-child(1) {
    animation: fade 1s infinite;
}

.link-wrapper:hover .image:nth-child(2) {
    animation: fade 1s infinite 333ms;
}

.link-wrapper:hover .image:nth-child(3) {
    animation: fade 1s infinite 666ms;
}

.description-block .presentation {
    position: relative;
    display: block;
    font-size: clamp(1rem, 2.5vw, 2.125rem);
    font-weight: 700;
    color: var(--text);
    padding-bottom: var(--dim5);
}

.description-block .link {
    color: var(--color2);
    text-decoration: none;
    box-shadow: inset 0 0 var(--color3);
    transition: box-shadow .4s cubic-bezier(.87, 0, .13, 1)
}

.description-block .link:hover,
.description-block .link:focus {
    box-shadow: inset 0 -1.1ex 0 var(--color3);
}

.description-block .cta-block {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
    font-size: var(--dim3);
    font-weight: 700;
}

.description-block .cta-block .btn {
    margin-right: var(--dim5);
}

@media screen and (max-width: 39.9375em) {
    .description-block .cta-block {
        flex-direction: column-reverse;
    }

    .description-block .cta-block .btn {
        margin-right: 0;
        margin-top: var(--dim5);
    }
}



/* Section slider page d'accueil */
.slider-container {
    padding: 0 var(--dim4);
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 70vh;
    text-align: center;
    background-color: #fff;
    border-radius: var(--dim5);
    padding: 0 var(--dim4) var(--dim4);
}

@media screen and (max-width: 39.9375em) {
    .slider-container {
        padding: 0 var(--dim2);
    }

    .slider {
        height: 90vh;
    }
}

.slides {
    position: relative;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 100%;
}

.slides::-webkit-scrollbar {
    height: var(--dim1);
}

.slides::-webkit-scrollbar-track {
    background: var(--color1);
    border-radius: 5px;
}

.slides::-webkit-scrollbar-thumb {
    background: var(--color3);
    border-radius: 5px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    transform-origin: center center;
    transform: scale(1);
}

.slide-text {
    display: inline;
    width: 100%;
    max-width: 981px;
    font-size: clamp(1.3rem, 2vw, 2.125rem);
    font-weight: 600;
    text-align: center;
    color: var(--color4);
}

.slide-text em {
    color: var(--text);
    font-variation-settings: 'wght'450;
}

.link-next {
    display: inline;
    margin: 0 0 0 var(--dim2);
    font-weight: 600;
    font-size: clamp(1.3rem, 2vw, 2.125rem);
    color: var(--color2);
    text-decoration: none;
    border-bottom: 0 solid var(--color1);
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
}

.link-next:hover,
.link-next:focus {
    border-bottom: 2px solid var(--color2);
}

.slider-nav-fix {
    position: absolute;
    left: 0;
    bottom: calc(var(--dim4) + var(--dim1) + 50px);
    padding: 0 var(--dim4);
}

.slider-nav-fix .slider-navlink {
    background-color: var(--color2);
    transition: all .4s cubic-bezier(.87, 0, .13, 1)
}

.slider-nav {
    position: absolute;
    left: 0;
    bottom: 50px;
}

.slider-nav-fix,
.slider-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--dim4);
    width: 100%;
    height: var(--dim4);
}

.slider-navlink {
    display: inline-block;
    height: var(--dim1);
    width: var(--dim3);
    border-radius: var(--dim3);
    background-color: transparent;
    transition: all .4s cubic-bezier(.87, 0, .13, 1)
}

#slide-1:target .slider-navlink:nth-child(1),
#slide-2:target .slider-navlink:nth-child(2),
#slide-3:target .slider-navlink:nth-child(3) {
    background-color: var(--color2);
    height: 100%;
    transition-delay: 700ms;
    transition-property: all;
}

.slider-nav-fix .slider-navlink:hover,
.slider-nav-fix .slider-navlink:focus {
    background-color: var(--color2);
    height: 50%;
}
