/* PT Sans regular */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../font/pt-sans-regular.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PT Sans regular italic */
@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 400;
	src: url(../font/pt-sans-italic.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PT Sans bold */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: url(../font/pt-sans-bold.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PT Serif regular */
@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	src: url(../font/pt-serif-regular.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PT Serif bold */
@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	src: url(../font/pt-serif-bold.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables
****************************************/
:root{
	--taille1: 9rem;
	--taille2: 5.5625rem;
	--taille3: 3.4375rem;
	--taille4: 2.125rem;
	--taille5: 1.3125rem;
	--color1:#17100F;
	--color2:#FFDC88;
	--color3:#F5F6F7;
}

/*

:root {
--scale: 1.618;
--size-zeta: 0.75rem;
--size-epsilon: calc(var(--scale) * var(--size-zeta));
--size-delta: calc(var(--scale) * var(--size-epsilon));
--size-beta: calc(var(--scale) * var(--size-delta));
--size-alpha: calc(var(--scale) * var(--size-beta));
--size-giga: calc(var(--scale) * var(--size-alpha));

@media screen and (min-width: 40em) {
--size-zeta: 1rem;
}
}
*/

/* General
****************************************/
html {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 1em;
	line-height: 1.2;
	font-weight: 400;
	color: var(--color1);
	background: var(--color3);
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	display: inline-block;
	vertical-align: middle;
}


/* Titres */
h1,
h2 {
	font-family: "PT Serif", Georgia, serif;
}
h3,
h4,
h5,
h6,
p {
	font-family: "PT Sans", Arial, sans-serif;
}

h1 {
	font-size: var(--taille2);
	font-weight: 700;
	padding-bottom: var(--taille1);
}

h2 {
	font-size: var(--taille3);
	padding-bottom: var(--taille2);
}

h3 {
	font-size: var(--taille4);
	font-weight: 700;
	padding-bottom: var(--taille3);
}

h4,
h5,
h6,
p {
	font-size: var(--taille5);
	padding-bottom: var(--taille4);
}
h4 {
	font-weight: 700;
}
strong {
	font-weight: 700;
}

.full-largeur {
	font-size: var(--taille4);
	max-width: 80%;
	-webkit-column-span: all;
	column-span: all;
	padding-bottom: var(--taille3);
}
.highlight {
	position: relative;
	font-family: "PT Serif", Georgia, serif;
	font-size: calc(var(--taille5) * 1.2);
	font-weight: 700;
	-webkit-column-break-after: always;
	break-after: always;
}
.first-letter::first-letter {
	float: left;
	font-size: 130%;
	padding: .5rem 1rem;
	margin-right: .5rem;
	border: 5px solid var(--color1);
	border-radius: 4px;
	background-color: var(--color2);
}

/* Bouton et lien */
a {
	text-decoration: none;
	color: var(--color1);
}

.btn-ghost {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	font-size: var(--taille3);
	font-weight: 700;
	color: var(--color1);
	text-decoration: none;
	background-color: var(--color3);
	padding: 1rem 2rem;
	border: 5px solid var(--color1);
	border-radius: calc(var(--taille5) / 2);
	cursor: pointer;
	-webkit-transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}
.btn-ghost::after {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	display: block;
	width: 100%;
	height: 100%;
	border: 5px solid var(--color1);
	border-radius: calc(var(--taille5) / 2);
	background-color: var(--color2);
	-webkit-transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	z-index: -1;
}
.btn-ghost:hover,
.btn-ghost:focus {
	top: 10px;
	left: 10px;
}
.btn-ghost:hover::after,
.btn-ghost:focus::after {
	top: -15px;
	left: -15px;
}


.link {
	color: var(--color1);
	-webkit-box-shadow: inset 0 -2px var(--color1);
	box-shadow: inset 0 -2px var(--color1);
	-webkit-transition: -webkit-box-shadow 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	transition: -webkit-box-shadow 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	transition: box-shadow 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	transition: box-shadow 0.4s cubic-bezier(0.87, 0, 0.13, 1), -webkit-box-shadow 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}
.link:hover,
.link:focus {
	-webkit-box-shadow: inset 0 -4vw 0 var(--color2);
	box-shadow: inset 0 -4vw 0 var(--color2);
}

/* Responsive btn */
@media screen and (max-width: 39.9375em) {
	.btn-ghost {
		top: 6px;
		left: 6px;
		font-size: var(--taille5);
		border: 3px solid var(--color1);
		border-radius: calc(var(--taille5) / 3);
	}
	.btn-ghost::after {
		top: -9px;
		left: -9px;
		border: 3px solid var(--color1);
		border-radius: calc(var(--taille5) / 3);
	}
	.btn-ghost:hover,
	.btn-ghost:focus {
		top: 6px;
		left: 6px;
	}
	.btn-ghost:hover::after,
	.btn-ghost:focus::after {
		top: -9px;
		left: -9px;
	}
}

@media screen and (min-width: 40em) and (max-width: 68.6875em) {
	.btn-ghost {
		font-size: var(--taille4);
		border: 4px solid var(--color1);
		border-radius: calc(var(--taille5) / 3);
	}
	.btn-ghost::after {
		top: -4px;
		left: -4px;
		border: 4px solid var(--color1);
		border-radius: calc(var(--taille5) / 3);
	}
	.btn-ghost:hover,
	.btn-ghost:focus {
		top: 10px;
		left: 10px;
	}
	.btn-ghost:hover::after,
	.btn-ghost:focus::after {
		top: -14px;
		left: -14px;
	}
}

@media screen and (min-width: 68.75em) and (max-width: 87.5em) {
	.btn-ghost {
		font-size: var(--taille4);
	}
}





/* Header
****************************************/
.header {
	position: relative;
	width: 100%;
	background-color: var(--color3);
	z-index: 2;
}
.header-container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
	padding: calc(var(--taille2) / 2) var(--taille2) calc(var(--taille2) / 2);
	background-color: var(--color3);
	z-index: 2;
}
.logo-container {
	width: 100%;
	max-width: 13rem;
}

/* Responsive header */
@media screen and (max-width: 39.9375em) {
	.header-container {
		padding: var(--taille5);
	}
	.logo-container {
		max-width: 8rem;
	}
}

/* Header accueil */
.accueil .logo {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	padding-top: calc(var(--taille2) / 2);
	max-width: 21vw;
}

.accueil .header-content {
	padding: calc(var(--taille2) / 2) 0 calc(var(--taille2) / 2) var(--taille2);
}
.accueil .header-content .title {
	font-size: 5.5vw;
	padding-bottom: var(--taille4);
}

.content-extra {
	-webkit-column-count: 2;
	column-count: 2;
	-webkit-column-fill: balance;
	column-fill: balance;
	grid-column-gap: var(--taille2);
}
.content-extra .full-largeur {
	max-width: 80%;
}
.content-extra p {
	max-width: 38.125rem;
}
.extra::before{
	content: "C'est à dire ?";
	display: block;
}
#extra {
	display: none;
}
#extra:checked + .content-extra + .extra {
	float: right;
	margin-right: 5%;
}
#extra:checked + .content-extra + .extra::before {
	content: "Ok ok !";
	display: block;
}

#extra + .content-extra {
	visibility: hidden;
	height: 0;
	overflow: hidden;
}
#extra:checked + .content-extra {
	overflow: visible;
	visibility: visible;
	height: 100%;
	padding-top: var(--taille3);
}


/* Responsive accueil */
@media screen and (max-width: 39.9375em) {
	.header-container.accueil {
		flex-direction: column;
		padding: var(--taille5);
	}
	.accueil .logo {
		position: relative;
		top: auto;
		left: auto;
		padding-top: 0;
		max-width: 34vw;
	}
	.accueil .header-content {
		padding: var(--taille5) 0;
	}
	.accueil .header-content .title {
		font-size: 8.9vw;
	}

	.content-extra {
		-webkit-column-count: auto;
		column-count: auto;
		-webkit-column-fill: auto;
		column-fill: auto;
		grid-column-gap: 0;
	}
	.content-extra .full-largeur {
		max-width: 100%;
		font-size: calc(var(--taille4) / 1.2);
		-webkit-column-span: none;
		column-span: none;
	}
	.content-extra .highlight {
		font-size: calc(var(--taille4) / 1.2);
	}
	#extra:checked + .content-extra {
		padding-top: var(--taille5);
	}
	.content-extra .first-letter::first-letter {
		padding: .4rem 1rem;
	}
}

@media screen and (min-width: 40em) and (max-width: 68.6875em) {
	.header-container.accueil {
		flex-direction: column;
		padding: var(--taille3);
	}
	.accueil .logo {
		position: relative;
		top: auto;
		left: auto;
		padding-top: 0;
		max-width: 34vw;
	}
	.accueil .header-content {
		padding: var(--taille3) 0;
	}
	.accueil .header-content .title {
		font-size: 8.9vw;
	}

	.content-extra {
		-webkit-column-count: auto;
		column-count: auto;
		-webkit-column-fill: auto;
		column-fill: auto;
		grid-column-gap: 0;
	}
	.content-extra .full-largeur {
		max-width: 100%;
		-webkit-column-span: none;
		column-span: none;
	}
}

@media screen and (min-width: 68.75em) and (max-width: 87.5em) {
	.accueil .logo {
		padding-top: calc(var(--taille2) / 2);
	}
	.content-extra {
		column-count: auto;
		column-fill: auto;
		grid-column-gap: 0;
	}
	.content-extra .full-largeur {
		max-width: 100%;
		column-span: none;
	}
}



/* Main
****************************************/
.main {
	position: relative;
	min-height: 100vh;
	background-color: var(--color3);
	padding-bottom:var(--taille5);
	z-index: 2;
}
.main::before {
	content: "";
	position: absolute;
	bottom: -1.9vw;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2vw 50vw 0 50vw;
	border-color: var(--color3) transparent transparent transparent;
}


/* Footer
****************************************/
.footer {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	left: 0;
	display: grid;
	place-items: center;
	width: 100%;
	padding: var(--taille1) 0;
	background: var(--color2);
	z-index: -1;
}
.footer .contact {
	font-family: "PT Serif", Georgia, serif;
	font-weight: 700;
	font-size: var(--taille3);	
}

/* Responsive footer */
@media screen and (max-width: 39.9375em) {
	.footer .contact {
		font-size: var(--taille5);	
	}
}
@media screen and (min-width: 40em) and (max-width: 68.6875em) {
	.footer .contact {
		font-size: var(--taille4);	
	}
}




/* Étude de cas
****************************************/
.etudes-container {
	padding: calc(var(--taille2) / 2) var(--taille2);
}

.etudes-container .title {
	padding-bottom: var(--taille3);
}

.etudes-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 0;
}
.cas {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding-bottom: var(--taille3);
}
.cas-link {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	max-width: 80rem;
	color: var(--color1);
	text-decoration: none;
	padding: var(--taille3);
	background-color: var(--color3);
	border: 5px solid var(--color1);
	border-radius: calc(var(--taille5) / 2);
	-webkit-transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}
.cas-link::before {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--color2);
	border: 5px solid var(--color1);
	border-radius: calc(var(--taille5) / 2);	
	-webkit-transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	z-index: -1;
}
.cas-link:hover {
	top: 10px;
	left: 10px;
}
.cas-link:hover::before {
	top: -15px;
	left: -15px;
}
.cas .titre {
	font-family: "PT Serif", Georgia, serif;
	font-size: var(--taille3);
	font-weight: 700;
	padding-bottom: var(--taille4);
}
.cas .description {
	max-width: 50rem;
	font-size: var(--taille4);	
	padding-bottom: var(--taille5);
}
.cas .date {
	font-size: var(--taille5);	
}


/* Etude de cas responsive */
@media screen and (max-width: 39.9375em) {
		.etudes-container {
		padding: var(--taille5);
	}
	.etudes-list {
		padding-right: 10px;
	}
	.cas-link {
		top: 10px;
		left: 10px;
		padding: var(--taille4);
		border: 3px solid var(--color1);
	}
	.cas-link::before {
		content: "";
		top: -13px;
		left: -13px;
		border: 3px solid var(--color1);
	}
	.cas-link:hover {
		top: 10px;
		left: 10px;
	}
	.cas-link:hover::before {
		top: -13px;
		left: -13px;
	}
	.cas .titre {
		font-size: var(--taille4);
		padding-bottom: var(--taille5);
	}
	.cas .description {
		font-size: var(--taille5);
	}
}

@media screen and (min-width: 40em) and (max-width: 68.6875em) {
	.etudes-container {
		padding: var(--taille3);
	}
	.etudes-list {
		padding-right: 10px;
	}

	.cas-link {
		padding: var(--taille4);
	}
	.cas .titre {
		font-size: var(--taille4);
		padding-bottom: var(--taille5);
	}
	.cas .description {
		font-size: var(--taille5);
	}
}













@media screen and (max-width: 39.9375em) {}

@media screen and (min-width: 40em) and (max-width: 68.6875em) {}

@media screen and (min-width: 68.75em) and (max-width: 87.5em) {}
















