/* PT Sans regular */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../font/pt-sans-regular.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PT Sans regular italic */
@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 400;
	src: url(../font/pt-sans-italic.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PT Sans bold */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: url(../font/pt-sans-bold.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PT Serif regular */
@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	src: url(../font/pt-serif-regular.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PT Serif bold */
@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	src: url(../font/pt-serif-bold.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables
****************************************/
:root{
	--scale: 1.618;
	--base: 1rem;
	--xs:calc(var(--base) * var(--scale));
	--s:calc(var(--base) + var(--xs));
	--m:calc(var(--xs) + var(--s));
	--l:calc(var(--s) + var(--m));
	--xl:calc(var(--m) + var(--l));

	--color1:#ffdf88;
	--color2:#204880;
	--color3:#2F3932;
	--color4:#F4F4F5;
	--color5:#17100F;
}

@media screen and (max-width: 39.9375em) {
	:root {
		--base: .64rem;
	}
}
@media screen and (min-width: 40em) and (max-width: 68.6875em) {
	:root {
		--base: .8rem;
	}

}




/* General
****************************************/
html {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 1em;
	line-height: 1.4;
	font-weight: 400;
	color: var(--color1);
	background: var(--color3);
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	display: inline-block;
	vertical-align: middle;
}

::selection {
	color: #fff;
	background-color: var(--color2);
}


/* Typographie */
h1,
h2,
.like-h2 {
	font-family: "PT Serif", Georgia, serif;
	width: 100%;
}
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
	font-family: "PT Sans", Arial, sans-serif;
	line-height: 1.4;
}

h1 {
	font-size: var(--l);
	line-height: 1.2;
	font-weight: 700;
	padding-bottom: var(--m);
	overflow-wrap: break-word;
}
h2,
.like-h2 {
	position: relative;
	font-size: var(--m);
	line-height: 1.2;
	padding: var(--xs) 0;
	margin: var(--m) 0 var(--s);
}
.like-h2 {
	font-weight: 700;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: var(--xs);
	-webkit-background-clip : text;
	color : transparent;
	background-image: url(../image/photo-2.jpg);
}
h2::after {
	content: "";
	position: absolute;
	top: calc(var(--xs) / (var(--scale) * 2));
	left: calc(var(--l) / 2);
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	transform: translateX(-80%);
	background-color: var(--color1);
	transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	transition-delay: 300ms;
	z-index: -1;	
}
h2:target::after {
	width: var(--l);
	height: var(--l);
}
h3 {
	font-size: var(--s);
	font-weight: 700;
	padding-top: var(--m);
	padding-bottom: var(--xs);
}
h4 {
	max-width: calc(var(--xl) * 4);
	font-size: var(--xs);
	font-weight: 700;
	margin-bottom: var(--xs);
	padding-top: var(--s);
	width: 100%;
}
h5 {
	position: relative;
	font-size: calc(var(--xs) * .8);
	font-weight: 700;
	text-transform: uppercase;
	text-indent: var(--xs);
	padding-top: var(--xs);
}
h5::before {
	content: "";
	position: relative;
	top: -4px;
	left: -6px;
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--color3);	
}
h5,
h6,
p,
ul,
ol {
	font-size: var(--xs);
	margin-bottom: var(--xs);
	max-width: calc(var(--xl) * 4);
	width: 100%;
}
ul,
ol {
	padding-bottom: var(--xs);
}
.liste-puce li {
	position: relative;
	padding-left: var(--s);
	padding-bottom: 1ex;
}
.liste-puce li:last-child {
	padding-bottom: 0;
}

.liste-puce li::before {
	content: "- ";
	position: absolute;
	top: 0;
	left: 1ex;
}
b,
strong {
	font-weight: 700;
}
small {
	font-size: 60%;
}
em {
	font-style: italic;
}
hr {
	width: var(--xl);
	border: 0;
	border-top: 2px solid var(--color2);
	margin: var(--m) 0 0 0;
	padding: 0 0 var(--m) 0;
}
code {
	font-family: monospace;
}
blockquote,
.highlight-bloc {
	position: relative;
	left: var(--m);
	margin: var(--m) 0;
	padding: var(--xs) var(--s) var(--xs) var(--l);
	max-width: calc(var(--xl) * 4.5);
	border-radius: 4px;
	box-shadow:
		0 1px 2px rgba(0, 0, 0, 0.028),
		0 3px 4px rgba(0, 0, 0, 0.04),
		0 5px 7px rgba(0, 0, 0, 0.05),
		0 9px 12px rgba(0, 0, 0, 0.06),
		0 16px 27px rgba(0, 0, 0, 0.072);
}
blockquote {
	background-color: var(--color1);
}
.highlight-bloc {
	background-color: var(--color3);
}
blockquote::before,
.highlight-bloc::before {
	content: " ";
	position: absolute;
	left: calc(var(--s) - .2ex);
	display: block;
	width: 50px;
	height: 50px;
	line-height: 2ex;
}
blockquote::before {
	content: "“";
	top: 0;
	font-size: var(--xl);
}
.highlight-bloc::before {
	content: "➜";	
	top: var(--xs);
	font-size: var(--s);
}
blockquote p {
	font-family: "PT Serif", Georgia, serif;
	font-weight: 700;
}
.highlight-bloc p {
	font-family: "PT Serif", Georgia, serif;
	font-weight: 400;
}
.figure {
	width: 100%;
	max-width: calc(var(--xl) * 4);
	text-align: center;
	padding-bottom: var(--xs);
}
.figure.large,
.accordion .figure {
	max-width: 100%;
}
.picture {
	display: block;
	width: 100%;
}
.figure video,
.figure img {
	width: 100%;
	text-align: center;
	letter-spacing: .5ex;
	background-color: var(--color4);
	border-radius: 4px;
	box-shadow:
		0 1.1px 1.9px rgba(0, 0, 0, 0.028),
		0 2.7px 3.9px rgba(0, 0, 0, 0.04),
		0 5px 6.7px rgba(0, 0, 0, 0.05),
		0 8.9px 12.4px rgba(0, 0, 0, 0.06),
		0 16.7px 27.2px rgba(0, 0, 0, 0.072),
		0 40px 80px rgba(0, 0, 0, 0.1);
	margin-bottom: var(--xs);
}
.figure .legende {
	font-size: 1rem;
}

.full-largeur {
	font-size: var(--s);
	max-width: 80%;
	padding-bottom: var(--m);
}
.highlight {
	position: relative;
	font-family: "PT Serif", Georgia, serif;
	font-size: var(--s);
	font-weight: 700;
	-webkit-column-break-after: always;
	break-after: always;
}
.introduction {
	position: relative;
	width: 100%;
	font-size: var(--s);
	font-weight: 400;
	padding-bottom: var(--s);
	-webkit-column-break-after: always;
	break-after: always;	
}
.first-letter::first-letter {
	float: left;
	margin-left: calc(var(--xs) * -1 - 5px);
	font-family: "PT Serif", Georgia, serif;
	font-size: var(--m);
	line-height: var(--m);
	font-weight: 700;
	padding: calc(var(--xs) - 11px) var(--xs);
	margin-right: .5rem;
	border: 5px solid var(--color5);
	border-radius: 4px;
	background-color: #ececed;
}

/* Hack firefox */
@-moz-document url-prefix() {
	.first-letter::first-letter {		
		padding: calc(var(--xs) - 2px) var(--xs);
	}
}

/* Responsive typographie */
@media screen and (max-width: 39.9375em) {
	h1 {
		font-size: var(--m);
	}
	blockquote,
	.highlight-bloc {
		position: relative;
		left:auto;
		width: 100%;
	}
	.full-largeur {
		max-width: 100%;
	}
	.first-letter::first-letter {
		margin-left: 0;
		padding: calc(var(--xs) - 8px) var(--xs);
		border: 3px solid var(--color3);
	}
	p,
	.figure {
		max-width: 100%;
	}
	@-moz-document url-prefix() {
		.first-letter::first-letter {			
			padding: calc(var(--xs) - 1px) var(--xs);
		}
	}

}


/* Chapitrage */
body {
	counter-reset: compteur-h2 compteur-h3 compteur-h4;
}

.chapitrage-reset-alpha {
	counter-reset: compteur-h3;
}
.chapitrage-reset-beta {
	counter-reset: compteur-h4;
}
h2::before {     
	content: counter(compteur-h2) ". ";     
	counter-increment: compteur-h2; 
} 
h3::before {     
	content: counter(compteur-h2) "." counter(compteur-h3) " " ;     
	counter-increment: compteur-h3; 
	width: 100%;
}
h4::before {
	content: counter(compteur-h2) "." counter(compteur-h3) "." counter(compteur-h4) " " ;     
	counter-increment: compteur-h4; 	
}


/* Bouton et lien */
a {
	text-decoration: none;
	color: var(--color1);
}
a:focus {
	outline: none;
}
.link {
	color: var(--color5);
	box-shadow: inset 0 -2px var(--color5);
	transition: box-shadow 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}
.link:hover,
.link:focus {
	box-shadow: inset 0 -1.1ex 0 var(--color1);
}
.link[target="_blank"]::after {
	content: " ↗";
	font-family: "PT Serif", Georgia, serif;
	font-size: 1rem;
	font-weight: 700;
}
.accueil .link {
	color: var(--color1);
	box-shadow: inset 0 -2px var(--color1);
}
.accueil .link:hover,
.accueil .link:focus {
	box-shadow: inset 0 -1.1ex 0 var(--color2);
}
.accueil.link {
	font-size: var(--m);
}

@media screen and (max-width: 63.9375em) {
	.accueil.link {
		font-size: var(--s);
	}
}




/* Header
****************************************/
.header {
	position: relative;
	width: 100%;
	z-index: 2;
}
.accueil .header {
	background: linear-gradient(0deg, var(--color3), var(--color5));
}
.header-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
	z-index: 2;
}
.logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: var(--s) var(--s);
	overflow: hidden;
	height: 15vw;
}
.accueil .logo-container {
	height: auto;
	min-height: 75vh;
	padding: var(--m) var(--l);
}
.logo {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}


/* 768 px*/
@media screen and (max-width: 48em) {
	.accueil .logo-container {
		min-height: auto;
		padding: var(--xl) var(--xs);
	}
	.logo-container {
		height: 40vw;
	}
}


/* Main
****************************************/
.main {
	position: relative;
	background-color: var(--color3);
	padding-bottom:var(--xs);
	z-index: 2;
}
.main.edito {
	color: var(--color3);
	background-color: var(--color4);
}
.fleche::before {
	content: "";
	position: absolute;
	bottom: -1.9vw;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2vw 49vw 0 49vw;
	border-color: var(--color3) transparent transparent transparent;
}
.edito.fleche::before {
	border-color: var(--color4) transparent transparent transparent;
}
.welcome-container {
	width: 100%;
	padding: var(--m) var(--l);
	background-color: var(--color3);
}
.edito .welcome-container {
	padding: var(--m) 0 0 0;
}
.main-container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
	padding: calc(var(--s)) / 2) var(--s)) calc(var(--s)) / 2);
	z-index: 2;
}

.nav {
	position: sticky;
	top: 0;
	left: 0;
	padding: var(--l) var(--s) var(--s);
	min-width: 33%;
	font-size: var(--xs);
}
.nav .title {
	font-weight: 700;
	padding-bottom: var(--s);
}
.nav .list {
	list-style: decimal;
	padding-left: var(--xs);
}
.nav .list-item {
	padding-bottom: var(--xs);
}
.nav .avatar {
	width: 100%;
	max-width: 100%;
}

.title-container,
.illustration-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 var(--l);
}
.title-container {
	background-color: var(--color3);
	z-index: 5;
}
.title-container .title {
	display: block;
	max-width: 90rem;
	margin: 0 auto;	
}
.title-container .title,
.title-container .breadcrumb {
	color: var(--color1);
}
.title-container .breadcrumb {
	font-size: var(--xs);
	padding-bottom: var(--s);
	font-weight: 700;
}
.title-container .breadcrumb .link {
	color: var(--color1);
	box-shadow: inset 0 -2px var(--color1);
}
.title-container .breadcrumb .link:hover,
.title-container .breadcrumb .link:focus {
	box-shadow: inset 0 -1.1ex 0 var(--color2);
}
.illustration-container .photo {
	position: relative;
	z-index: 4;
}
.credit {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	padding-top: calc(var(--xs) / 2);
	opacity: .5;
	z-index: 4;
}
.credit a {
	color: var(--color5);
	text-decoration: underline;
}
.illustration-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 200px;
	background-color: var(--color3);
	z-index: 3;
}
.illustration-container::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 60vh;
	background-color: var(--color4);
	z-index: 2;
}
.article {
	color: var(--color5);
	padding: var(--l) var(--l) var(--m) ;
}
.article-container {
	display: block;
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;
}
.article-container ul p {
	margin-bottom: 0;
}
.content-extra {
	column-count: 2;
	column-fill: balance;
	grid-column-gap: var(--m);
}
.content-extra .full-largeur {
	max-width: 80%;
	font-size: var(--s);
	max-width: 80%;
	-webkit-column-span: all;
	column-span: all;
	padding-bottom: var(--m);
}
.content-extra p {
	max-width: 38.125rem;
}

.middle-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 var(--l) var(--s);
}

.liste-double {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
}
.liste-double > li {
	width: 50%;
	padding-right: var(--xs);
}

@media screen and (max-width: 39.9375em) {
	.main-container {
		flex-direction: column;
	}
	.nav {
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		padding: var(--s) ;
	}
	.nav .list {
		margin-bottom: 0;
		padding-bottom: 0;
		max-width: 100%;
	}
	.nav .avatar {
		display: none;
	}

	.article {
		width: 100%;
		padding: var(--s);
	}
	.liste-double > li {
		width: 100%;
		padding-right: 0;
	}
	.title-container {
		padding: 0 var(--s);
	}
	.illustration-container::before {
		height: 30vh;
	}

	.content-extra {
		column-count: auto;
		column-fill: auto;
		grid-column-gap: 0;
	}
	.content-extra .full-largeur {
		max-width: 100%;
		column-span: none;
	}
	.illustration-container {
		padding: 0 var(--m);
	}
	.middle-container {
		padding: 0 0 var(--s);
	}
}

@media screen and (min-width: 40em) and (max-width: 68.6875em) {
	.main-container {
		flex-direction: column;
	}
	.nav {
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		padding: var(--l) var(--l) 0;
	}
	.nav .avatar {
		display: none;
	}
	.nav .list {
		margin-bottom: 0;
		max-width: 100%;
	}
	.content-extra .full-largeur {
		max-width: 100%;
	}
	.middle-container {
		padding: 0 0 var(--s);
	}
}

/* 768 px*/
@media screen and (max-width: 48em) {
	.welcome-container {
		padding: var(--s);
	}
	.welcome-container .title {
		font-size: var(--m);
	}
}

.next-article {
	padding: var(--l) var(--s) var(--l);
}
.next-article .link {
	font-family: "PT Serif", Georgia, serif;
	font-size: var(--l);
	line-height: 1.1;
	font-weight: 700;
	overflow-wrap: break-word;
}
.next-article .subtitle {
	display: block;
	padding: 0 0 var(--s);
	font-size: var(--xs);
}





/* Footer
****************************************/
.footer {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	left: 0;
	display: grid;
	place-items: center;
	width: 100%;
	padding: var(--xl) var(--xs);
	background: var(--color2);
	z-index: -1;
}
.footer .contact {
	font-family: "PT Serif", Georgia, serif;
	font-weight: 700;
	font-size: var(--s);
	text-align: center;
}



/* Étude de cas
****************************************/
.etudes-container {
	display: block;
	width: 100%;
	color: var(--color5);
	margin: 0 auto;
	padding: 0 var(--l) var(--m);
}
.etudes-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 90rem;
	margin: 0 auto;
	padding: 0;
}
.etudes-container .title {
	display: block;
	max-width: 90rem;
	position: relative;
	font-size: var(--m);
	line-height: 1.2;
	padding: var(--xs) 0;
	margin: var(--m) 0 var(--s);
	margin: 0 auto;
}
.cas {
	width: 100%;
	padding-bottom: var(--m);
}
.cas-link {
	display: inline;
	max-width: 80rem;
	font-family: "PT Serif", Georgia, serif;
	font-size: var(--m);
	font-weight: 700;
	color: var(--color5);
	box-shadow: inset 0 -2px var(--color5);
	transition: box-shadow 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}
.cas-link:hover,
.cas-link:focus {
	box-shadow: inset 0 -1.1ex 0 var(--color1);
}

/* Responsive */
@media screen and (max-width: 39.9375em) {
	.etudes-container {
		padding: 0 var(--s);
	}	
	.etudes-container .title {
		font-size: var(--s);
	}
	.cas-link {
		font-size: var(--s);
	}
}

@media screen and (min-width: 40em) and (max-width: 68.6875em) {
	.etudes-container {
		padding: 0 var(--l);
	}	
}

@media screen and (max-width: 68.6875em) {
	.etudes-list {
		max-width: 100%;
	}
	.cas-link {
		max-width: 50rem;
	}
}





/* Accordion
****************************************/
.accordion {
	padding-bottom: var(--xs);
}
.accordion-item {
	width: 100%;
	margin-bottom: var(--xs);
	padding: 0;
	font-weight: 400;
	cursor: auto;
	border: 2px solid var(--color5);
}
.accordion p {
	margin-left: auto;
	margin-right: auto;
}
.accordion input[name="panel"] {
	display: none;
}
.accordion label {
	position: relative;
	display: block;
	font-size: var(--xs);
	font-weight: 700;
	padding: var(--xs) var(--l) var(--xs) var(--s);
	cursor: pointer;
	transition: color 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}
.accordion label:hover,
.accordion label:focus {
	color: var(--color2);
	text-decoration: underline;
}
.accordion label::after {
	content: "↓";
	position: absolute;
	top: 50%;
	right: var(--xs);
	width: var(--m);
	height: var(--m);
	border-radius: 50%;
	font-size: var(--s);
	text-align: center;
	transform: translateY(-50%);
}
.accordion input:checked + label {
	color: var(--color5);
	font-weight: 700;
}
.accordion input:checked + label::after {
	content: "↑";
	background-color: var(--color1);
}
.accordion .accordion-content {
	position: relative;
	visibility: hidden;
	overflow: hidden;
	height: 0;
	padding: 0 var(--s);
}
input[name='panel']:checked ~ .accordion-content {
	visibility: visible;
	overflow: visible;
	height: auto;
	padding: var(--s);
}


@media screen and (max-width: 39.9375em) {
	.accordion label {
		font-size: var(--xs);
	}
}

.double-colonne {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.col-first,
.col-second {
	width: 100%;
}


/*

Mettre contact en pop up avec target 
https://developer.mozilla.org/fr/docs/Web/CSS/:target
.dropdown {
display: none;
visibility: hidden;
height: 0;

}

.dropdown:target {
display: block;
height: auto;
visibility: visible;
}


.welcome-container .title {
background: -webkit-linear-gradient(#eee, #333);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

*/





@media screen and (max-width: 39.9375em) {}

@media screen and (min-width: 40em) and (max-width: 68.6875em) {}

@media screen and (min-width: 68.75em) and (max-width: 87.5em) {}





