/*
      :::    :::  :::    :::   ::::::::    :::::::: 
     :+:    :+:  :+:    :+:  :+:    :+:  :+:    :+: 
    +:+    +:+  +:+    +:+  +:+         +:+    +:+  
   +#++:++#+   #+#    #+#  :#:         +#+    +:+   
  +#+    +#+  +#+    +#+  +#+   +#+#  +#+    +#+    
 #+#    #+#  #+#    #+#  #+#    #+#  #+#    #+#     
###    ###  ##########   ########    ########       
*/



/* The bare minimum English subset, plus copyright & arrows (← ↑ → ↓) & quotes (“ ” ‘ ’) & bullet (•) */
@font-face {
    font-family: 'RecVar';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
    src: url('../fonts/Recursive_VF_1.085--subset_range_english_basic.woff2') format('woff2');
    unicode-range: U+0020-007F, U+00A9, U+2190-2193, U+2018, U+2019, U+201C, U+201D, U+2022;
}

/* unicode latin-1 letters, basic european diacritics */
@font-face {
    font-family: 'RecVar';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
    src: url('../fonts/Recursive_VF_1.085--subset_range_latin_1.woff2') format('woff2');
    unicode-range: U+00C0-00FF;
}

/* unicode latin-1, punc/symbols & arrows (↔ ↕ ↖ ↗ ↘ ↙) */
@font-face {
    font-family: 'RecVar';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
    src: url('../fonts/Recursive_VF_1.085--subset_range_latin_1_punc.woff2') format('woff2');
    unicode-range: U+00A0-00A8, U+00AA-00BF, U+2194-2199;
}

/* unicode latin A extended */
@font-face {
    font-family: 'RecVar';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
    src: url('../fonts/Recursive_VF_1.085--subset_range_latin_ext.woff2') format('woff2');
    unicode-range: U+0100-017F;
}

/* unicodes for vietnamese */
@font-face {
    font-family: 'RecVar';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
    src: url('../fonts/Recursive_VF_1.085--subset_range_vietnamese.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* remaining Unicodes */
@font-face {
    font-family: 'RecVar';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
    src: url('../fonts/Recursive_VF_1.085--subset_range_remaining.woff2') format('woff2');
    unicode-range: U+2007, U+2008, U+2009, U+200A, U+200B, U+D, U+2010, U+2012, U+2013, U+2014, U+2015, U+201A, U+201E, U+2020, U+2021, U+2026, U+2030, U+2032, U+2033, U+2039, U+203A, U+203E, U+2044, U+2052, U+2070, U+2074, U+2075, U+2076, U+2077, U+2078, U+2079, U+207B, U+2080, U+2081, U+2082, U+2083, U+2084, U+2085, U+2086, U+2087, U+2088, U+2089, U+20A1, U+20A6, U+20A8, U+20A9, U+20AA, U+20AC, U+20AD, U+20B1, U+20B2, U+20B4, U+20B5, U+20B8, U+20B9, U+20BA, U+20BC, U+20BD, U+20BF, U+F8FF, U+2113, U+2116, U+2122, U+2126, U+212E, U+E132, U+E133, U+2153, U+2154, U+215B, U+215C, U+215D, U+215E, U+18F, U+192, U+19D, U+1C4, U+1C5, U+1C6, U+1C7, U+1C8, U+1C9, U+1CA, U+1CB, U+1CC, U+1E6, U+1E7, U+1EA, U+1EB, U+1F1, U+1F2, U+1F3, U+1FA, U+1FB, U+1FC, U+1FD, U+1FE, U+1FF, U+200, U+201, U+202, U+203, U+204, U+205, U+206, U+207, U+208, U+209, U+20A, U+20B, U+20C, U+20D, U+20E, U+20F, U+210, U+211, U+212, U+213, U+214, U+215, U+216, U+217, U+218, U+219, U+21A, U+21B, U+2215, U+2219, U+221E, U+221A, U+22A, U+22B, U+22C, U+22D, U+222B, U+230, U+231, U+232, U+233, U+2236, U+237, U+2248, U+259, U+2260, U+2261, U+2264, U+2265, U+272, U+2B9, U+2BA, U+2BB, U+2BC, U+2BE, U+2BF, U+2C6, U+2C7, U+2C8, U+2C9, U+2CA, U+2CB, U+2D8, U+2D9, U+2DA, U+2DB, U+2DC, U+2DD, U+300, U+301, U+FB02, U+FB03, U+302, U+303, U+304, U+FB01, U+306, U+307, U+308, U+309, U+30A, U+30B, U+30C, U+30F, U+311, U+312, U+315, U+31B, U+2202, U+323, U+324, U+325, U+326, U+327, U+328, U+329, U+2205, U+32E, U+2206, U+331, U+335, U+220F, U+2211, U+2212, U+391, U+392, U+393, U+394, U+398, U+39B, U+39C, U+39D, U+3A0, U+3A6, U+3B1, U+3B2, U+3B3, U+3B4, U+3B8, U+3BB, U+3BC, U+3BD, U+3C0, U+3C6, U+25A0, U+25A1, U+25B2, U+25B3, U+25B6, U+25B7, U+25BC, U+25BD, U+25C0, U+25C1, U+25C6, U+25C7, U+25CA, U+1E08, U+1E09, U+1E0C, U+1E0D, U+1E0E, U+1E0F, U+2610, U+2611, U+1E14, U+1E15, U+1E16, U+1E17, U+1E1C, U+1E1D, U+1E20, U+1E21, U+1E24, U+1E25, U+1E2A, U+1E2B, U+1E2E, U+1E2F, U+1E36, U+1E37, U+1E3A, U+1E3B, U+E3F, U+1E42, U+1E43, U+1E44, U+1E45, U+1E46, U+1E47, U+1E48, U+1E49, U+1E4C, U+1E4D, U+1E4E, U+1E4F, U+1E50, U+1E51, U+1E52, U+1E53, U+1E5A, U+1E5B, U+1E5E, U+1E5F, U+1E60, U+2661, U+1E61, U+1E62, U+1E63, U+1E64, U+1E65, U+1E66, U+1E67, U+1E68, U+1E69, U+2665, U+1E6C, U+1E6D, U+1E6E, U+1E6F, U+1E78, U+1E79, U+1E7A, U+1E7B, U+1E80, U+1E81, U+1E82, U+1E83, U+1E84, U+1E85, U+1E8E, U+1E8F, U+1E92, U+1E93, U+1E97, U+1E9E, U+2713, U+27E8, U+27E9;
}

/*
font-variation-settings: "wght" 375, "MONO" 0.28;
  CASL : 0 --> 1
  CRSV : 1 (c'est 1 pour l'avoir en cursive ou 0 (ou ne pas mettre) pour l'avoir en Roman)
  MONO : 0 --> 1 ex 0.28
  slnt : -15 --> 0
  wght : 300 --> 1000
*/



/* Variables
****************************************/
:root {

    --base: #657558;
    --text: #11150E;
    --scrollY: 0;

    /* Violet */
    --second1: #A55493;
    /* Turquoise */
    --second2: #0A97B8;
    /* Rose */
    --second3: #F49082;

    --color1: #F9FAF9;
    --color2: #ECEEEB;
    --color3: #D1D6CE;
    --color4: #B8BFB2;
    --color5: #9EA896;
    --color6: #828F77;
    --color7: #667659;
    --color8: #56644B;
    --color9: #45503C;
    --color10: #333B2C;


    /* Espacement */
    /* 8 */
    --dim1: .5rem;
    /* 13 */
    --dim2: .8125rem;
    /* 16 */
    --regular: 1rem;
    /* 21 */
    --dim3: 1.3125rem;
    /* 34 */
    --dim4: 2.125rem;
    /* 55 */
    --dim5: 3.4375rem;
    /* 89 */
    --dim6: 5.5625rem;
    /* 144 */
    --dim7: 9rem;
    /* 233 */
    --dim8: 14.5625rem;
    /* 377 */
    --dim9: 23.5625rem;
    /* 610 */
    --dim10: 38.125rem;
    /* 987 */
    --dim11: 61.68755rem;
}


/* Reset
http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126License: none (public domain)
****************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* General
****************************************/

html {
    font-family: "RecVar", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    font-weight: 400;
    color: var(--text);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color1);
}

body {
    counter-reset: compteur-h2 compteur-h3 compteur-h4 compteur-menu;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

::selection {
    color: var(--color-5);
    background-color: var(--color3);
}

a {
    text-decoration: none;
}

.hyphens {
    hyphens: auto;
}




/* Typographie
****************************************/
.titre-h1 {
    font-size: var(--dim5);
    font-weight: 700;
    color: var(--text);
    text-wrap: balance;
}

.titre-h2 {
    font-size: var(--dim4);
    font-weight: 600;
    color: var(--text);
    text-wrap: balance;
}

strong {
    font-weight: 700;
}

@media screen and (max-width: 40em) {
    .titre-h1 {
        font-size: clamp(var(--dim4), 3vw, var(--dim5));
    }

    .titre-h2 {
        font-size: clamp(1.75rem, 3vw, var(--dim5));
    }
}



/* Layout
****************************************/
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* largeur 100% */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 var(--dim3) var(--dim7);
}

/* Permet de centrer le contenu dans une colonne */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1189px;
}

@media screen and (max-width: 40em) {
    .section {
        padding: 0 var(--dim3) var(--dim6);
    }
}




/* Général à toutes les pages
****************************************/

/* Liens */
.link {
    position: relative;
    display: inline;
    font-weight: 580;
    font-size: var(--dim3);
    color: var(--color8);
    text-decoration: none;
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
    box-shadow: inset 0 -2px transparent;
}

.menu-link {
    font-weight: 600;
    text-transform: uppercase;
}

.menu-link::before {
    /* Augmente la zone de clic */
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    transform: translateY(-50%);
}

.link.nav-article-link:visited,
.menu-link.actif,
.link:hover,
.link:focus {
    color: var(--color10);
    box-shadow: inset 0 -1.1ex 0 var(--second3);
}

.menu-link.actif-n1 {
    text-decoration: underline;
}

.link[target=_blank]:after {
    content: "→";
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    transform: rotate(-45deg) translateX(0);
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
}

.link[target=_blank]:hover:after,
.link[target=_blank]:focus:after {
    transform: rotate(-90deg) translateX(1ex)
}

@media screen and (max-width: 40em) {
    .link:not(.menu-link) {
        font-size: var(--regular);
    }
}

/* Boutons */
.btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    min-width: 200px;
    font-size: var(--regular);
    font-weight: 400;
    color: var(--color1);
    text-align: center;
    text-decoration: none;
    padding: var(--dim2) var(--dim3);
    border-radius: var(--dim4);
    background-color: var(--base);
    z-index: 1;
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--dim4);
    height: 100%;
    background-color: transparent;
    border-radius: var(--dim3);
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
    z-index: -1;
}

.btn::before {
    transition-delay: 50ms;
}

.btn::after {
    transition-delay: 250ms;
}

.btn:hover,
.btn:focus {
    background-color: var(--color8);
}

.btn:hover::before,
.btn:focus::before {
    width: 100%;
    background-color: var(--second1);
}

.btn:hover::after,
.btn:focus::after {
    width: 100%;
    background-color: var(--color10);
}


/* Pages */
.sup-title {
    font-size: var(--dim3);
    font-weight: 700;
    line-height: 1.2;
    color: var(--color7);
    z-index: 2;
}

.sub-title {
    font-size: var(--dim3);
    font-weight: 500;
    line-height: 1.2;
    color: var(--text);
    z-index: 2;
}

.date {
    font-size: var(--dim2);
    font-weight: 400;
    color: var(--color7);
    z-index: 2;
}

.details {
    padding: var(--dim2) var(--dim3);
    background-color: var(--color1);
}

.summary {
    font-size: var(--dim3);
    font-weight: 620;
    cursor: pointer;
}

.summary::marker {
    color: var(--color8);
}

.details[open] {
    padding: var(--dim2) var(--dim3) var(--dim3);
}

.details[open] .summary {
    padding-bottom: var(--dim2);
    margin-bottom: var(--dim2);
    border-bottom: 1px solid var(--color3);
}

.details[open] .summary::marker {
    color: var(--color8);
}

.scroll-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 var(--dim2);
}

.scroll-top-container .link {
    font-size: var(--regular);
}

.lecture {
    font-size: var(--regular);
    font-weight: 600;
}

@media screen and (max-width: 40em) {
    .btn {
        width: 100%;
    }

    .sup-title {
        font-size: var(--dim2);
        font-weight: 600;
    }

    .sub-title {
        font-size: var(--dim2);
    }

    .date {
        font-size: var(--dim1);
    }
}




/* Header
****************************************/
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--dim6) var(--dim3) var(--dim4);
    background-color: var(--color2);
}

.logo {
    position: absolute;
    box-sizing: content-box;
    top: calc(var(--dim5)* -1);
    border-right: var(--dim7) solid transparent;
    border-bottom: var(--dim3) solid transparent;
    left: 0;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--dim2);
    list-style: none;
    width: 100%;
    max-width: 1189px;
    color: var(--base);
}

.menu li:not(:last-child)::after {
    content: ",";
    padding-right: .4rem;
}




/* Section héros
****************************************/
.section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--dim6) var(--dim3);
    background-color: var(--color2);
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "grid-1 grid-1 grid-1"
        ".      grid-2 grid-2";
}

.hero-container .grid-1 {
    grid-area: grid-1;
}

.hero-container .grid-2 {
    grid-area: grid-2;
}

.hero-container .titre-h1 {
    padding-bottom: var(--dim5);
}

.hero-container .introduction {
    font-size: var(--dim4);
    font-weight: 430;
    line-height: 1.4;
    color: var(--text);
}

/* 640px */
@media screen and (max-width: 40em) {
    .hero-container .introduction {
        font-size: var(--dim3);
    }

    .hero-container .titre-h1 {
        padding-bottom: var(--dim4);
    }
}

/* 880px */
@media screen and (max-width: 55em) {
    .hero-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "grid-1"
            "grid-2";
    }
}




/* Section video
****************************************/
.section-video {
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 90vh;
    background-color: var(--color2);
}

.section-video .video {
    width: 100%;
    object-fit: cover;
}




/* Section article
****************************************/
.section-article {
    width: 100%;
    padding: var(--dim6) var(--dim3);
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "grid-1 grid-2 grid-2";
    width: 100%;
}

.article-container .grid-1 {
    grid-area: grid-1;
}

.article-container .grid-2 {
    grid-area: grid-2;
}

.nav-article {
    position: sticky;
    top: 0;
    left: 0;
    padding: var(--dim4);
}

.nav-article .title {
    font-weight: 600;
    line-height: 1.3809524rem;
    padding-bottom: var(--dim4);
    padding-right: var(--dim3);
}

.nav-liste-link {
    list-style: decimal;
}

.nav-liste-link li {
    padding-bottom: var(--dim3);
}

.nav-liste-link li::marker {
    color: var(--base);
    font-weight: 530;
    font-size: var(--dim3);
}

.nav-article-link {
    font-size: 1rem;
}

.article {
    padding-top: var(--dim4);
    /* Pour ajuster l'alignement avec le sommaire */
}

.article h2 {
    position: relative;
    font-size: 4.2380952rem;
    line-height: 5.5238095rem;
    font-weight: 700;
    margin-top: 1.3809524rem;
    margin-bottom: 2.7619048rem;
    text-wrap: balance;
}

.article h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2.6190476rem;
    line-height: 2.7619048rem;
    font-weight: 600;
    margin-top: 1.3809524rem;
    margin-bottom: 1.3809524rem;
    text-wrap: balance;
}

.article h4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.6190476rem;
    line-height: 2.7619048rem;
    margin-top: 1.3809524rem;
    margin-bottom: 0rem;
    text-wrap: balance;
}

.article h5 {
    font-size: 1rem;
    line-height: 1.3809524rem;
    margin-top: 1.3809524rem;
    margin-bottom: 0rem;
    text-transform: uppercase;
    font-weight: 600;
    text-wrap: balance;
}

.chapitrage-reset-h2 {
    counter-reset: compteur-h2;
}

.chapitrage-reset-h3 {
    counter-reset: compteur-h3;
}

.chapitrage-reset-h4 {
    counter-reset: compteur-h4;
}

.article h2::before {
    content: counter(compteur-h2) ". ";
    counter-increment: compteur-h2;
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
    transition-delay: .2s;
    font-size: var(--dim4);
    line-height: 1;
    color: var(--color9);
    font-variation-settings: "wght"680, "CASL"0.5;
}

.article h3::before {
    content: counter(compteur-h2) "."counter(compteur-h3) " ";
    counter-increment: compteur-h3;
    width: 100%;
    font-size: var(--dim3);
    line-height: 1;
    color: var(--color9);
    font-variation-settings: "wght"680, "CASL"0.5;
}

.article h4::before {
    content: counter(compteur-h2) "."counter(compteur-h3) "."counter(compteur-h4) " ";
    counter-increment: compteur-h4;
    font-size: var(--regular);
    line-height: 1;
    color: var(--color9);
    font-variation-settings: "wght"680, "CASL"0.5;
}

.article h2::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(var(--dim5) - var(--dim1));
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translateX(-80%);
    background-color: var(--second3);
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
    transition-delay: .2s;
    z-index: -1;
}

.article h2:target::after {
    width: var(--dim6);
    height: var(--dim6);
}

.article h2:target::before {
    color: var(--color1);
}

.article p {
    font-size: 1rem;
    line-height: 1.3809524rem;
    margin-top: 1.3809524rem;
    margin-bottom: 0rem;
    max-width: 580px;
}

.article .link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3809524rem;
}

.article p,
.article ul,
.article ol,
.article pre,
.article table,
.article blockquote {
    margin-top: 0rem;
    margin-bottom: 1.3809524rem;
}

.article li {
    position: relative;
    padding-left: var(--dim4);
    max-width: 580px;
}

.article ul li::before {
    content: " ";
    position: absolute;
    top: 3px;
    left: 1ex;
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/puce.svg) center center no-repeat;
}

.article ul li ul li::before {
    content: "— ";
    position: absolute;
    top: 0px;
    left: 1ex;
    background: none;
}

.article .introduction-block p {
    font-size: var(--regular);
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: var(--dim2);
    max-width: 100%;
}

.article .introduction-article {
    font-weight: 620;
    color: var(--color8);
}

.article .details {
    margin-bottom: var(--dim3);
    border-radius: calc(var(--dim3) + var(--dim1));
}

.article .details:last-child {
    margin-bottom: 0;
}

.article .details .summary span {
    padding-left: var(--dim1);
}

.article hr {
    width: var(--dim8);
    margin: 1.3809524rem 0;
    border-top: 1px solid var(--second3);
}

.article .first-letter::first-letter {
    float: left;
    margin-left: calc(var(--dim3) * -1 - 1px);
    font-size: var(--dim4);
    line-height: 1.1;
    font-weight: 700;
    padding: var(--dim2) var(--dim3);
    margin-right: var(--dim1);
    border: 1px solid var(--color8);
    border-radius: var(--dim1);
    background-color: var(--color2);
    font-variation-settings: "wght"680, "CASL"0.5;
}

.article blockquote {
    position: relative;
    margin: var(--dim4) 0 var(--dim5);
    padding: var(--dim4) var(--dim5) var(--dim4) var(--dim6);
    background-color: var(--color3);
    border-radius: var(--dim1);
    box-shadow:
        0 1px 2px rgba(0, 0, 0, .028),
        0 3px 4px rgba(0, 0, 0, .04),
        0 5px 7px rgba(0, 0, 0, .05),
        0 9px 12px rgba(0, 0, 0, .06),
        0 16px 27px rgba(0, 0, 0, .072);
}

.article blockquote::before {
    content: " ";
    position: absolute;
    left: calc(var(--dim3) - .2ex);
    display: block;
    width: 50px;
    height: 50px;
    line-height: 2ex;
}

.article blockquote::before {
    content: "« ";
    top: var(--dim2);
    left: var(--dim4);
    font-size: var(--dim5);
    font-variation-settings: "wght"680, "CASL"0.8;
    color: var(--color6);
}

.article blockquote p {
    color: var(--color9);
    font-variation-settings: "wght"680, "CASL"0.8, "slnt"-10;
}

.article .figure {
    width: 100%;
    text-align: center;
    padding: 1.3809524rem 0;
}

.article .figure .picture {
    display: block;
    width: 100%;
}

.article .figure .video,
.article .figure img {
    width: 100%;
    text-align: center;
    letter-spacing: .5ex;
    background-color: var(--color4);
    border-radius: var(--dim1);
    box-shadow: 0 1.1px 1.9px rgba(0, 0, 0, .028), 0 2.7px 3.9px rgba(0, 0, 0, .04), 0 5px 6.7px rgba(0, 0, 0, .05), 0 8.9px 12.4px rgba(0, 0, 0, .06), 0 16.7px 27.2px rgba(0, 0, 0, .072), 0 40px 80px rgba(0, 0, 0, .1);
    margin-bottom: var(--dim2);
}

.article .figure .legende {
    font-size: var(--regular);
    color: var(--color8);
}

.article .figure .link {
    font-size: var(--regular);
}

/* Accordion */
.accordion {
    padding: var(--dim4) 0;
}

.accordion-item {
    overflow: hidden;
    width: 100%;
    padding: 0;
    font-weight: 400;
    cursor: auto;
    border: 2px solid var(--color8);
    border-radius: var(--dim1);
}

.accordion-block {
    width: 100%;
    max-width: calc(var(--xl) * 4);
    margin: 0 auto;
}

.accordion p {
    margin-left: auto;
    margin-right: auto;
}

.accordion .link {
    font-size: var(--dim4);
}

.accordion .legende .link {
    font-size: inherit;
}

.accordion input[name="panel"] {
    display: none;
}

.accordion label {
    position: relative;
    display: block;
    font-size: 1rem;
    line-height: 1.3809524rem;
    font-weight: 500;
    padding: var(--dim3) var(--dim6) var(--dim3) var(--dim3);
    cursor: pointer;
    background-color: var(--color2);
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
}

.accordion label:hover,
.accordion label:focus {
    background-color: var(--color3);
    color: var(--color10);

}

.accordion input:checked + label:hover,
.accordion input:checked + label:focus {
    color: var(--color10);
}

.accordion label:hover .label-title::before,
.accordion label:focus .label-title::before,
.accordion input:checked + label:hover .label-title::before,
.accordion input:checked + label:focus .label-title::before {
    background-color: var(--color2);
}

.accordion label::after {
    content: "↓";
    position: absolute;
    top: 50%;
    right: var(--dim4);
    width: var(--dim4);
    height: var(--dim4);
    line-height: var(--dim4);
    border-radius: 50%;
    font-size: var(--dim3);
    text-align: center;
    transform: translateY(-50%);
}

.accordion input:checked + label {
    color: var(--color10);
    font-weight: 500;
    background-color: var(--color3);
}

.accordion input:checked + label::after {
    content: "↑";
    background-color: var(--color1);
}

.accordion .accordion-content {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    padding: 0 var(--dim3);
}

input[name="panel"]:checked ~ .accordion-content {
    visibility: visible;
    overflow: visible;
    height: auto;
    padding: var(--dim3);
    background: var(--color2);
}

@media screen and (max-width: 39.9375em) {
    .accordion label {
        font-size: var(--regular);
    }

    .accordion label::after {
        right: var(--dim2);
    }

    .accordion label {
        padding: var(--dim3) var(--dim5) var(--dim3) var(--dim3);
    }
}

/* Double colonne */
.article .double-colonne {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: var(--m);
}

.article .col-first,
.article .col-second {
    width: 100%;
}

.article .explication {
    position: sticky;
    top: 0;
    left: 0;
    padding: var(--dim6) var(--dim4) var(--dim4);
}

.article .explication .number {
    position: relative;
    top: -5px;
    left: -5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: var(--color1);
    color: #fff;
    font-size: calc(var(--dim3)/2);
    font-weight: 700;
    text-align: center;
    line-height: 25px;
    background-color: #204880;
}

/* 640px */
@media screen and (max-width: 40em) {
    .article h2 {
        font-size: 2.8125rem;
        line-height: 4.125rem;
        margin-top: 1.375rem;
        margin-bottom: 2.75rem;
    }

    .article h3 {
        font-size: 2rem;
        line-height: 2.75rem;
        margin-top: 1.375rem;
        margin-bottom: 1.375rem;
    }

    .article h4 {
        font-size: 1.4375rem;
        line-height: 2.75rem;
        margin-top: 1.375rem;
        margin-bottom: 0rem;
    }

    .article h5 {
        font-size: 1rem;
        line-height: 1.375rem;
        margin-top: 1.375rem;
        margin-bottom: 0rem;
    }

    .nav-liste-link li::marker {
        font-size: 1rem;
    }

    .article .double-colonne {
        flex-direction: column;
    }

    .article .explication {
        position: relative;
        top: auto;
        left: auto;
        padding: var(--dim4);
    }
}

/* 880px */
@media screen and (max-width: 55em) {
    .article-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "grid-1"
            "grid-2";
    }

    .nav-article {
        position: relative;
        top: unset;
        left: unset;
        padding: 0 var(--dim3);
    }

    .article .first-letter::first-letter {
        margin-left: 0;
    }
}




/* Section collection
****************************************/
.section-collection {
    overflow: hidden;
    width: 100%;
    padding: var(--dim6) var(--dim3);
}

.collection-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: var(--dim6);
}

.collection-container li {
    width: 100%;
}

.collection-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: var(--dim2);
    text-decoration: none;
    z-index: 2;
}

.collection-link .title {
    display: block;
    width: 100%;
    font-size: clamp(var(--dim3), 2.5vw, var(--dim5));
    font-weight: 600;
    color: var(--second1);
    text-wrap: balance;
    text-decoration: underline;
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
}

.collection-link:hover .title,
.collection-link:focus .title {
    color: var(--second3);
}

.collection-link .illustration {
    position: absolute;
    top: 50%;
    left: 30%;
    display: block;
    max-width: 800px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(-10%, -55%);
    z-index: 1;
    transition: all .28s cubic-bezier(.87, 0, .13, 1);
}

.collection-link:hover .illustration,
.collection-link:focus .illustration {
    opacity: 1;
    visibility: visible;
    transform: translate(0, -55%);
}




/* Section contact
****************************************/
.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--dim9) var(--dim3);
    background-color: var(--color2);
    background-image: url(../images/montagne.png), linear-gradient(0deg, rgba(51, 59, 44, 1) 0%, rgba(69, 80, 60, 1) 35%, rgb(249 250 249) 100%);
    background-position: center center;
    background-size: cover;
    background-blend-mode: darken;
    margin-bottom: -1px;
    /* Supprime un artéfact d'affichage */
}

.section-contact span {
    font-size: clamp(var(--dim3), 5vw, var(--dim4));
    color: var(--color2);
}

@media screen and (max-width: 40em) {
    .section-contact {
        padding: var(--dim8) var(--dim2);
    }
}




/* Footer
****************************************/
.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: var(--dim6) var(--dim3);
    background-color: var(--color10);
}

.footer .item-1 {
    order: 3;
}

.footer .item-2 {
    order: 1;
}

.footer .item-3 {
    order: 2;
}

.footer .item-4 {
    order: 4;
}

.footer .item-5 {
    order: 5;
}

.footer .link {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color1);
}

.footer .link[target=_blank]:after {
    font-weight: 300;
}

@media screen and (max-width: 40em) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--dim6) var(--dim3) var(--dim7);
        gap: var(--dim4);
    }

    .footer .item-1 {
        order: 1;
    }

    .footer .item-2 {
        order: 3;
    }

    .footer .item-3 {
        order: 4;
    }

    .footer .item-4 {
        order: 2;
    }

    .footer .item-5 {
        order: 5;
    }
}




/* Page Expertises
****************************************/
.page-expertises .article {
    padding-top: 0;
}

.page-expertises .introduction-block p:last-child {
    padding: 0;
    margin: 0;
}

.page-expertises .section-bg {
    background-color: var(--color2);
}

.page-expertises .section-bg .container {
    padding: var(--dim4) var(--dim4) var(--dim4) var(--dim5);
    border-radius: var(--dim5);
    background: var(--color10);
}

.page-expertises .section-bg .titre-h2 {
    color: var(--color1);
    padding-top: var(--dim4);
}

.page-expertises .section-bg .sous-titre {
    font-size: var(--regular);
    color: var(--color1);
    padding: var(--dim3) var(--dim3) var(--dim3) 0;
    list-style-position: outside;
}

.page-expertises .section-bg .sous-titre li {
    position: relative;
}

.page-expertises .section-bg .sous-titre li::before {
    content: "— ";
    position: absolute;
    top: 50%;
    left: calc(var(--dim3) * -1);
    transform: translateY(-50%);
}

.page-expertises .section-bg .introduction-block {
    padding: var(--dim4);
    border-radius: var(--dim4);
    border: 1px solid var(--color8);
}

.page-expertises .section-article:not(.section-bg) {
    padding-bottom: var(--dim8);
    background: linear-gradient(0deg, rgba(236, 238, 235, 1) 0%, rgba(249, 250, 249, 1) 60%);
}

.page-expertises .introduction-block .titre-h2 {
    font-size: clamp(1.75rem, 3vw, var(--dim5));
    line-height: 1.2;
    margin-top: 0;
}

.page-expertises .introduction-block .titre-h2::before {
    display: none;
}

/* 640px */
@media screen and (max-width: 40em) {
    .page-expertises .section-bg .container {
        border-radius: var(--dim3);
    }

    .page-expertises .section-bg .titre-h2 {
        padding: 0 var(--dim4) var(--dim3);
    }

    .page-expertises .section-bg .introduction-block {
        padding: 0;
        border-radius: 0;
        border: 0;
    }

    .summary {
        font-size: var(--regular);
    }

    .page-expertises .btn {
        font-size: var(--regular);
    }
}

/* 641px --> 800px */
@media screen and (min-width: 40.0625em) and (max-width: 55em) {
    .page-expertises .section-bg .container {
        padding: var(--dim3);
        border-radius: var(--dim3);
    }

    .page-expertises .section-bg .titre-h2 {
        padding: 0 0 var(--dim3) var(--dim4);
    }

    .page-expertises .section-bg .introduction-block {
        padding: var(--dim3);
    }
}

/* 880px */
@media screen and (max-width: 55em) {
    .page-expertises .grid-1.vide {
        display: none;
    }

    .page-expertises .section-bg .container {
        padding: var(--dim3);
    }

    .page-expertises .section-bg .sous-titre {
        padding: 0 var(--dim4) var(--dim4);
    }

    .page-expertises .introduction-block .details p {
        font-size: var(--regular);
    }

    .page-expertises .section-article:not(.section-bg) {
        padding-bottom: var(--dim7);
    }

}




/* Page Histoires
****************************************/
.page-histoires .section-collection {
    padding-bottom: var(--dim8);
    background: linear-gradient(0deg, rgba(236, 238, 235, 1) 0%, rgba(249, 250, 249, 1) 60%);
}

/* 880px */
@media screen and (max-width: 55em) {
    .page-histoires .section-collection {
        padding-bottom: var(--dim7);
    }
}




/* Page Idées
****************************************/
.page-idees .section-collection {
    padding: var(--dim8) var(--dim3);
    background: linear-gradient(0deg, rgba(236, 238, 235, 1) 0%, rgba(249, 250, 249, 1) 60%);
}

/* 880px */
@media screen and (max-width: 55em) {
    .page-idees .section-collection {
        padding-top: var(--dim7);
        padding-bottom: var(--dim7);
    }
}



.metadata-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--dim4) var(--dim5);
    padding: var(--dim4) var(--dim3);
}

.metadata-list li {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
}

.metadata-list .sub-title {
    display: block;
    font-size: var(--dim2);
    color: var(--color7);
    padding-bottom: var(--dim2);
}

.metadata-list .metadata {
    display: block;
    font-size: var(--reg);
    font-weight: 500;
    color: var(--text);
}






















































/* Page Mentions légales
****************************************/
.page-mentions .section-collection {
    padding-bottom: var(--dim8);
}

/* 880px */
@media screen and (max-width: 55em) {
    .page-mentions .section-collection {
        padding-bottom: var(--dim7);
    }

    .metadata-list {
        display: flex;
        flex-direction: row;
    }
}




/* Page FAQ
****************************************/
.page-faq .section-article {
    padding-bottom: var(--dim8);
}

.page-faq .hyphens {
    hyphens: manual;
}


/* 880px */
@media screen and (max-width: 55em) {
    .page-faq .section-article {
        padding-bottom: var(--dim7);
    }
}




/* Page Accueil
****************************************/
.page-accueil .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "grid-1 grid-1 grid-1"
        "grid-2 grid-2 grid-3";
}

.page-accueil .hero-container .grid-1 {
    grid-area: grid-1;
}

.page-accueil .hero-container .grid-2 {
    grid-area: grid-2;
}

.page-accueil .hero-container .grid-3 {
    grid-area: grid-3;
}

/* Titre principal */
.titre-principal {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(var(--dim4), 4vw, var(--dim5));
    font-weight: 700;
    color: var(--text);
    padding-bottom: var(--dim5);
    z-index: 2;
}

.link-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0 .2em;
}

.link-wrapper .link {
    font-size: inherit;
    font-weight: inherit;
}

.img-wrapper {
    position: relative;
    top: 50%;
    display: inline-grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    height: 1.4em;
    width: 1.4em;
    margin-right: .2em;
}

.img-wrapper .image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 333ms ease-in-out;
}

.img-wrapper .image svg {
    width: 100%;
}

/* Afficher la première image */
.img-wrapper .image:first-child {
    opacity: 1;
}

/* Animation pour passer à l'image suivante */
@keyframes fade-anim {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.link-wrapper:hover .image:nth-child(1),
.link-wrapper:focus .image:nth-child(1) {
    animation: fade-anim 1s infinite;
}

.link-wrapper:hover .image:nth-child(2),
.link-wrapper:focus .image:nth-child(2) {
    animation: fade-anim 1s infinite 333ms;
}

.link-wrapper:hover .image:nth-child(3),
.link-wrapper:focus .image:nth-child(3) {
    animation: fade-anim 1s infinite 666ms;
}

.capsule-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--dim3);
    padding: 0 0 var(--dim5) var(--dim5);
}

.capsule {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: var(--dim2);
    font-size: var(--regular);
    font-weight: 600;
    padding: var(--dim1) var(--dim4) var(--dim1) var(--dim2);
    border-radius: var(--dim5);
    background-color: var(--color3);
}

.capsule svg {
    color: var(--color2);
    background: var(--color6);
    padding: var(--dim1);
    border-radius: 30px;
}

.contact-block {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
    font-size: var(--regular);
    gap: var(--dim4);
    padding: var(--dim4) 0 0;
}

@media screen and (max-width: 40em) {
    .contact-block {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .capsule {
        padding: var(--dim1) var(--dim3) var(--dim1) var(--dim2);
    }
}

.page-accueil .hero-container .introduction {
    padding-right: var(--dim4);
}

.page-accueil .section-collection {
    background: linear-gradient(0deg, rgba(236, 238, 235, 1) 0%, rgba(249, 250, 249, 1) 60%);
    padding: 0 var(--dim3) var(--dim6);
}


/* Section galerie */
.section-galerie {
    overflow: hidden;
    width: 100%;
    padding: var(--dim4) 0 var(--dim6);
    background: url(../images/nnnoise.svg), linear-gradient(0deg, rgb(209 215 208) 0%, rgb(209 215 207) 35%, rgb(236 238 235) 100%);
}

.galerie-container {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
}

.section-galerie .grid-1 {
    grid-column: 1 / 7;
    grid-row: 1 / 5;
}

.section-galerie .grid-2 {
    grid-column: 7 / 13;
    grid-row: 1 / 5;
}

.section-galerie .grid-3 {
    grid-column: 13 / 19;
    grid-row: 3 / 7;
}

.section-galerie .grid-4 {
    grid-column: 5 / 11;
    grid-row: 5 / 9;
}

.section-galerie .grid-5 {
    grid-column: 11 / 17;
    grid-row: 7 / 11;
}

.section-galerie .grid-6 {
    grid-column: 17 / 23;
    grid-row: 7 / 11;
}

.tableau {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition:
        opacity 1s,
        transform 2s;
}

.actif .tableau {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, .33));
}

.anim-tableau-1 {
    transform: translate3d(-50%, 0, 0);
    transition-delay: 200ms;
    transition-timing-function: ease-in-out;
}

.anim-tableau-2 {
    transform: translate3d(-50%, 0, 0);
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}

.anim-tableau-3 {
    transform: translate3d(0, -50%, 0);
    transition-delay: 100ms;
    transition-timing-function: ease-in-out;
}

.anim-tableau-4 {
    transform: translate3d(0, 50%, 0);
    transition-delay: 200ms;
    transition-timing-function: ease-in-out;
}

.anim-tableau-5 {
    transform: translate3d(50%, 0, 0);
    transition-delay: 220ms;
    transition-timing-function: ease-in-out;
}

.anim-tableau-6 {
    transform: translate3d(50%, 0, 0);
    transition-delay: 350ms;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width: 40em) {
    .section-galerie {
        display: none;
    }
}


/* Section carrousel */
.section-carrousel {
    width: 100%;
    background-color: var(--color3);
    background-image:
        url(../images/fougeres.png),
        radial-gradient(at 91% 67%, hsl(82deg 61.71% 50.25%) 0px, transparent 50%),
        radial-gradient(at 78% 21%, hsl(143deg 46.44% 39.17%) 0px, transparent 50%),
        radial-gradient(at 34% 77%, hsla(345, 92%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 1% 90%, hsl(24deg 34.52% 28.44%) 0px, transparent 50%),
        radial-gradient(at 35% 44%, hsl(324deg 20.6% 47.89%) 0px, transparent 50%),
        radial-gradient(at 93% 33%, hsl(176deg 24.08% 23.36%) 0px, transparent 50%),
        radial-gradient(at 52% 45%, hsl(129.58deg 70.01% 41.77%) 0px, transparent 50%);
    background-position: center center;
    background-size: cover;
    background-blend-mode: hard-light;
    background-attachment: fixed;
    padding: 0;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 70vh;
    text-align: center;
    background-color: rgb(86 100 75 / 45%);
    backdrop-filter: blur(6px);
    padding: var(--dim8) var(--dim6);
}

@media screen and (max-width: 40em) {
    .carrousel {
        background-attachment: scroll;
    }

    .slider {
        height: 90vh;
        padding: var(--dim3);
    }
}

.slides {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: var(--dim2);
}

.slides::-webkit-scrollbar {
    height: var(--dim2);
}

.slides::-webkit-scrollbar-track {
    background: rgba(249, 250, 249, 0.5);
    border-radius: var(--dim1);
}

.slides::-webkit-scrollbar-thumb {
    background: rgba(209, 214, 206, 0.8);
    border-radius: var(--dim1);
}

.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    background-color: var(--color1);
    border-radius: var(--dim4);
    margin: var(--dim3) 0;
    padding: var(--dim4);
    scroll-margin-top: 2em;
    scroll-snap-align: center;
    transform-origin: center center;
    transform: scale(1);
}

.slide-text {
    display: inline;
    width: 100%;
    max-width: 981px;
    font-size: clamp(1.3rem, 2vw, 2.125rem);
    font-variation-settings: "wght"580, "CASL"0.8, "slnt"-10;
    text-align: center;
    color: var(--color7);
    padding: var(--dim6) var(--dim4);
}

.slide-text em {
    color: var(--text);
}

@media screen and (max-width: 39.9375em) {
    .slide {
        margin: 0;
        padding: var(--dim4) var(--dim2);
    }

    .slide-text {
        padding: var(--dim2);
    }
}


/* section Arguments */
.section-arguments {
    padding: 0 var(--dim3) var(--dim6);
}

.arguments-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "grid-1 grid-1 grid-1"
        "grid-2 grid-3 grid-4";
    gap: var(--dim4);
}

.arguments-container .grid-1 {
    grid-area: grid-1;
}

.arguments-container .grid-2 {
    grid-area: grid-2;
}

.arguments-container .grid-3 {
    grid-area: grid-3;
}

.arguments-container .grid-4 {
    grid-area: grid-4;
}


.arguments-container .title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--dim6) 0 var(--dim4);
}

.arguments-container .title-block .titre-h1 {
    color: var(--color8);
    text-align: center;
    padding-bottom: var(--dim4);
}

.arguments-container .title-block .introduction {
    font-size: var(--dim3);
    font-weight: 430;
    text-align: center;
    width: 100%;
    max-width: var(--dim11);
}

.argument-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--dim2);
}

.argument-block .illustration,
.arguments-link-container .illustration {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--color3);
    border-radius: var(--dim1);
}

.argument-block .illustration svg {
    filter: opacity(0.8);
}

.argument-block .titre-h2,
.arguments-link-container .titre-h2 {
    color: var(--text);
}

.argument-block p,
.arguments-link-container p {
    color: var(--color7);
    font-size: var(--regular);
}

.arguments-link-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: var(--dim6) 0;
    border-top: 1px solid var(--color3);
}

.arguments-link-container:last-child {
    border-bottom: 1px solid var(--color3);
}

.arguments-link-container .link-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: var(--dim4);
    width: 60%;
}

.arguments-link-container .illustration {
    aspect-ratio: 16/9;
    /*
    aspect-ratio: 1/1;
    width: calc(100% /3);
    max-width: calc((100% - (var(--dim4) * 2)) / 3);
*/
    /* équation du 1er degré : pour donner la même largeur que les autres illustrations */
}

.illu-1 {
    background-image: url(../images/tigre.png),
        radial-gradient(at 85% 21%, hsl(104.04deg 52.67% 50.96%) 0px, transparent 50%),
        radial-gradient(at 82% 56%, hsl(42.08deg 75.57% 47.59%) 0px, transparent 50%),
        radial-gradient(at 44% 83%, hsl(109.52deg 28.01% 23.93%) 0px, transparent 50%),
        radial-gradient(at 66% 68%, hsl(141.34deg 47.81% 58.4%) 0px, transparent 50%),
        radial-gradient(at 44% 44%, hsl(0deg 71.26% 44.33%) 0px, transparent 50%),
        radial-gradient(at 22% 82%, hsl(214.52deg 64.02% 41.45%) 0px, transparent 50%),
        radial-gradient(at 89% 28%, hsl(237.65deg 48.05% 24.95%) 0px, transparent 50%);
    background-blend-mode: hard-light;
    background-position: center center;
    background-size: cover;
}

.illu-2 {
    background-image: url(../images/fougeres.png),
        radial-gradient(at 91% 67%, hsl(82deg 61.71% 50.25%) 0px, transparent 50%),
        radial-gradient(at 78% 21%, hsl(143deg 46.44% 39.17%) 0px, transparent 50%),
        radial-gradient(at 34% 77%, hsla(345, 92%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 1% 90%, hsl(24deg 34.52% 28.44%) 0px, transparent 50%),
        radial-gradient(at 35% 44%, hsl(324deg 20.6% 47.89%) 0px, transparent 50%),
        radial-gradient(at 93% 33%, hsl(176deg 24.08% 23.36%) 0px, transparent 50%),
        radial-gradient(at 52% 45%, hsl(129.58deg 70.01% 41.77%) 0px, transparent 50%);
    background-blend-mode: hard-light;
    background-position: center center;
    background-size: cover;
}

.illu-3 {
    background-image: url(../images/lionnes.png),
        radial-gradient(at 85% 21%, hsl(227.36deg 76% 53%) 0px, transparent 50%),
        radial-gradient(at 82% 56%, hsl(324.91deg 61.68% 39.43%) 0px, transparent 50%),
        radial-gradient(at 44% 83%, hsl(109.52deg 70.2% 40.61%) 0px, transparent 50%),
        radial-gradient(at 66% 68%, hsl(141.34deg 48.49% 51.98%) 0px, transparent 50%),
        radial-gradient(at 44% 44%, hsl(118.52deg 69.84% 45.61%) 0px, transparent 50%),
        radial-gradient(at 22% 82%, hsl(341deg 61.8% 49.64%) 0px, transparent 50%),
        radial-gradient(at 89% 28%, hsl(135deg 72.79% 48.08%) 0px, transparent 50%);
    background-blend-mode: hard-light;
    background-position: center center;
    background-size: 200%;
}

.illu-4 {
    background-image: url(../images/loup.png),
        radial-gradient(at 24% 34%, hsla(131, 64%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 93% 11%, hsla(148, 91%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 10%, hsla(291, 95%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 5%, hsla(35, 73%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 74%, hsla(354, 68%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 95%, hsla(97, 69%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 48% 70%, hsla(122, 70%, 73%, 1) 0px, transparent 50%);
    background-blend-mode: darken;
    background-position: center center;
    background-size: cover;
}

.illu-5 {
    background-image: url(../images/leopard.png),
        radial-gradient(at 34% 45%, hsla(153, 66%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 33% 56%, hsl(0deg 64.09% 61.55%) 0px, transparent 50%),
        radial-gradient(at 29% 80%, hsl(34.38deg 62.28% 41.27%) 0px, transparent 50%),
        radial-gradient(at 2% 44%, hsla(336, 89%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 62% 42%, hsla(21, 68%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 21% 59%, hsla(256, 69%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 81% 78%, hsla(32, 93%, 73%, 1) 0px, transparent 50%);
    background-blend-mode: darken;
    background-position: center center;
    background-size: cover;
}

.arguments-link-container .liste {
    padding-bottom: var(--dim4);
    color: var(--text);
    font-size: var(--dim3);
}

.arguments-link-container .liste li::before {
    content: "— ";
}

/* 880px */
@media screen and (max-width: 55em) {

    .arguments-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "grid-1"
            "grid-2"
            "grid-3"
            "grid-4";
        gap: var(--dim6);
    }

    .arguments-link-container {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--dim4);
    }

    .arguments-link-container .link-block,
    .arguments-link-container .illustration {
        width: 100%;
        max-width: 100%;
    }

    .arguments-link-container .link-block {
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--dim4);
    }

    .arguments-link-container .liste {
        font-size: var(--regular);
    }

    .arguments-link-container .illustration {
        aspect-ratio: 9/16;
    }
}


/* Section texte animé */
.section-text-animation {
    overflow: hidden;
    max-width: 100%;
    padding: var(--dim6) 0;
    background-image: url(../images/nnnoise.svg), linear-gradient(0deg, rgb(208 214 206) 0%, rgb(236, 238, 235) 100%);
}

.anim-text-block {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding: var(--dim2) 0;
}

.anim-text-block span {
    display: inline-block;
    font-size: 3rem;
    color: var(--color7);
}

.anim-left {
    animation: anim-left 120s linear infinite;
}

.anim-right {
    animation: anim-right 165s linear infinite;
}

.anim-left-alt {
    animation: anim-left 200s linear infinite;
}

.anim-right-alt {
    animation: anim-right 185s linear infinite;
}

.anim-left-alt2 {
    animation: anim-left 90s linear infinite;
}

@keyframes anim-left {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes anim-right {
    0% {
        transform: translate3d(-50%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (max-width: 40em) {
    .section-text-animation {
        padding: var(--dim5) 0;
    }

    .anim-text-block span {
        font-size: var(--dim3);
    }
}

.page-accueil .section-contact {
    background-color: var(--color3);
}



/* 380 */
@media screen and (max-width: 23.75em) {
    .titre-principal {
        letter-spacing: -.2vw;
        /* Ajustement esthétique */
    }
}


/* 880px */
@media screen and (max-width: 55em) {
    .page-accueil .hero-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "grid-1"
            "grid-3"
            "grid-2";
    }

    .capsule-block {
        flex-direction: row;
        padding: 0 0 var(--dim5);
    }
}














qfds
